.settings-label {
    color: rgb(217, 217, 217);
}

Label {
    font-size: 12px;
    -unity-font-definition: url('project://database/Assets/Fonts/PublicPixel%20SDF.asset?fileID=11400000&guid=5e35d48a61ea1574e87068b59e2c0285&type=2#PublicPixel SDF');
}

.hud-label {
    color: rgb(233, 233, 233);
}

.unity-progress-bar__background {
    background-color: brown;
}

.unity-progress-bar__progress {
    background-color: chartreuse;
}

.heart-full {
    background-image: url('project://database/Assets/Sprites/Hearts.png?fileID=-998597739&guid=6c41186efeb786a4f92ac76dbacd7f5a&type=3#Hearts_0');
}

.heart-empty {
    background-image: url('project://database/Assets/Sprites/Hearts.png?fileID=211730820&guid=6c41186efeb786a4f92ac76dbacd7f5a&type=3#Hearts_8');
}

.heart-7 {
    background-image: url('project://database/Assets/Sprites/Hearts.png?fileID=49949243&guid=6c41186efeb786a4f92ac76dbacd7f5a&type=3#Hearts_1');
}

.heart-6 {
    background-image: url('project://database/Assets/Sprites/Hearts.png?fileID=874679318&guid=6c41186efeb786a4f92ac76dbacd7f5a&type=3#Hearts_2');
}

.heart-5 {
    background-image: url('project://database/Assets/Sprites/Hearts.png?fileID=1728871054&guid=6c41186efeb786a4f92ac76dbacd7f5a&type=3#Hearts_3');
}

.heart-4 {
    background-image: url('project://database/Assets/Sprites/Hearts.png?fileID=-123910573&guid=6c41186efeb786a4f92ac76dbacd7f5a&type=3#Hearts_4');
}

.heart-3 {
    background-image: url('project://database/Assets/Sprites/Hearts.png?fileID=-356585094&guid=6c41186efeb786a4f92ac76dbacd7f5a&type=3#Hearts_5');
}

.heart-2 {
    background-image: url('project://database/Assets/Sprites/Hearts.png?fileID=-572994991&guid=6c41186efeb786a4f92ac76dbacd7f5a&type=3#Hearts_6');
}

.heart-1 {
    background-image: url('project://database/Assets/Sprites/Hearts.png?fileID=-919684307&guid=6c41186efeb786a4f92ac76dbacd7f5a&type=3#Hearts_7');
}

.menu-button {
    font-size: 12px;
    -unity-font-definition: url('project://database/Assets/Fonts/PublicPixel%20SDF.asset?fileID=11400000&guid=5e35d48a61ea1574e87068b59e2c0285&type=2#PublicPixel SDF');
}
