.settings-label {
    color: rgb(217, 217, 217);
}

Label {
    font-size: 12px;
    -unity-font-definition: url('project://database/Assets/Fonts/PublicPixel%20SDF.asset?fileID=11400000&guid=5e35d48a61ea1574e87068b59e2c0285&type=2#PublicPixel SDF');
}

.hud-label {
    color: rgb(233, 233, 233);
}
